{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "last 10 Chrome versions",
          "last 10 Firefox versions",
          "last 10 ChromeAndroid versions",
          "last 10 FirefoxAndroid versions",
          "Explorer >= 9",
          "Safari >= 9",
          "iOS >= 8",
          "Android >= 4.4"
        ]
      }
    }]
  ],
  "ignore": [
    "node_modules/**",
    "bower_components/**",
    "vendor/**"
  ]
}

