doctype html
html
  head
    meta(name="viewport", content="minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, width=device-width, user-scalable=no")
    link(rel="stylesheet", type="text/css", href="static/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="css/index.css")
    script(src="js/vendor.js")
  body
    #app
      router-view(name="navbar")

      router-view

    script(src="js/index.js")
